@font-face {
  font-family: 'TrendSans-One';
  src: url('src/TrendSansW00-One.eot');
  src: url('src/TrendSansW00-One.eot?#iefix') format('embedded-opentype'),
  url('src/TrendSansW00-One.woff2') format('woff2'),
  url('src/TrendSansW00-One.woff') format('woff'),
  url('src/TrendSansW00-One.ttf') format('truetype'),
  url('src/TrendSansW00-One.svg#TrendSansW00-One') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}@font-face {
  font-family: 'TrendSans-One';
  src: url('src/TrendSansOne.eot');
  src: url('src/TrendSansOne.eot?#iefix') format('embedded-opentype'),
    url('src/TrendSansOne.woff2') format('woff2'),
    url('src/TrendSansOne.woff') format('woff'),
    url('src/TrendSansOne.ttf') format('truetype'),
    url('src/TrendSansOne.svg#TrendSansOne') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}