body {
    background-color: $secondary;
}

.navbar-shrink {
    transition: box-shadow 0.5s;
    box-shadow: 0px 0px 13px 3px #000000ff;
}

.footer {
    padding: 12px 0 !important;
    transition: box-shadow 0.5s;
    box-shadow: 0px 0px 13px 3px #00000059;
}

.nav-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.carousel {
    background: #212529;

    .carousel-item img {
        min-height: 300px;
        height: auto;
        max-height: 475px;
        width: 100%;
        object-fit: cover;
    }

    .carousel-caption {
        h5 {
            border-bottom: 2px #ffffff36 solid;
            padding-bottom: 6px;
            margin-bottom: 0px;
            &.dark {
                border-color: #525252a1;
            }
        }
        p {
            margin-bottom: 0;
        }
        background: #ffffff14;
        padding: 10px;
        bottom: 35px;
        padding-bottom: 5px;
    }

    .carousel-progress-bar {
        transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
        height: 3px;
        background-color: white;
        width: 0;
        margin: 0;
        border: none;
        z-index: 11;
        position: absolute;
        bottom: 0;
    }

    .carousel-control {
        z-index: 11;
    }

    li[data-target].active {
        transform: translateY(-5px);
    }

    li[data-target] {
        transition: 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
}

.new-header {
    padding: 3rem;
    & > .row {
        margin-top: 150px;
    }
}

.list-group {
    &.ayer a.list-group-item {
        cursor: pointer;
    }
    &-item.li-header {
        border: none;
        padding-bottom: 0 !important;
        text-transform: uppercase;
        font-weight: bolder;
        color: #ffffff47;
        margin-bottom: -5px;
    }
    &-flush .list-group-item:last-child {
        border-bottom: unset;
    }
    & .list-group-item {
        padding: 0.5rem 0.75rem;
    }
    &-flush.spearater-white .list-group-item {
        border: 1px solid transparent;
    }
}

.spacism {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ul-transparent .list-group-item {
    background: transparent;
}

.carder-button {
    position: absolute;
    bottom: 1.25rem;
    left: 0;
    right: 0;
}

@include media-breakpoint-down(sm) {
    .new-header {
        padding: 2rem;
    }
}

@include media-breakpoint-down(xs) {
    .new-header {
        padding: 1rem;
    }
}

@include media-breakpoint-up(sm) {
    .new-header > .row {
        margin-top: 150px;
    }
}

@include media-breakpoint-up(md) {
    .new-header > .row {
        margin-top: 200px;
    }
}

@include media-breakpoint-up(lg) {
    .new-header > .row {
        margin-top: 300px;
    }
}

.bg-sizer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@each $a1 in ("min-", "max-") {
    @each $a2 in ("w", "h") {
        @each $a3, $a4 in ("0": unset, "100": 100%) {
            .#{$a1}#{$a2}#{$a3} {
                #{$a1}width: $a4;
            }
        }
    }
}

.progress-bar.disabled {
    filter: opacity(0.5);
}
