.carousel {
    background: #212529;

    &-item img {
        min-height: 300px;
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
    }

    &-caption h5 {
        border-bottom: 2px #ffffff36 solid;
        padding-bottom: 6px;
    }

    .carousel-progress-bar {
        transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
        height: 3px;
        background-color: white;
        width: 0;
        margin: 0;
        border: none;
        z-index: 11;
        position: absolute;
        bottom: 0;
    }

    &-control {
        z-index: 11;
    }

    li[data-target].active {
        transform: translateY(-5px);
    }

    li[data-target] {
        transition: 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
}
.min-w0 {
    min-width: unset;
}
.min-w100 {
    min-width: 100%;
}
.min-h0 {
    min-height: unset;
}
.min-h100 {
    min-height: 100%;
}
.max-w0 {
    max-width: unset;
}
.max-w100 {
    max-width: 100%;
}
.max-h0 {
    max-height: unset;
}
.max-h100 {
    max-height: 100%;
}
